telethon==1.36.0  # Убедитесь, что версия соответствует вашей, или используйте последнюю стабильную
python-telegram-bot==20.7  # Убедитесь, что версия соответствует вашей, или используйте последнюю стабильную
pandas==2.2.1  # Убедитесь, что версия соответствует вашей, или используйте последнюю стабильную
vobject==0.9.6.1  # Убедитесь, что версия соответствует вашей, или используйте последнюю стабильную
requests==2.31.0  # Для работы с TON API, используйте последнюю стабильную версию
xlsxwriter==3.1.9  # Для работы с Excel-файлами через pandas
pytz
